body {
        direction: ltr;
      }
      @media (min-width: 768px) {
        .ladi-section .ladi-container {
          width: 1200px;
        }
      }
      @media (max-width: 767px) {
        .ladi-section .ladi-container {
          width: 420px;
        }
      }
      @font-face {
        font-family: "UZOLUdpbHJveSBYQmsZCvdGY";
        src: url("https://w.ladicdn.com/6981a16d67d19e0012bf5d55/svn-gilroy-xbold-20260205071426-ii_0i.otf");
      }
      @font-face {
        font-family: "MUZUViWSVAtQtaWNhLnRZg";
        src: url("https://w.ladicdn.com/6981a16d67d19e0012bf5d55/1ftv-vip-comica-20260313082531-rwhoz.ttf")
          format("truetype");
      }
      body {
        font-family: "Open Sans", sans-serif;
      }


